<!DOCTYPE html> <!-- SOLO TIENE LAS NEWS-->
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	{% block title %}
	<title>Franci's GYM</title>
	{% endblock %}

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'gym/assets/img/favicon.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'gym/assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'gym/assets/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'gym/assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'gym/assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'gym/assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'gym/assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'gym/assets/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'gym/assets/css/responsive.css' %}">

</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						{% if user.is_authenticated %}
						<div class="site-logo">
							<a href="{% url 'Inicio' %}">
								<img src="{% static 'gym/assets/img/logo.png' %}" alt="">
							</a>
						</div>
						{% else %}
						<div class="site-logo">
							<a href="{% url 'Inicio' %}">
								<img src="{% static 'gym/assets/img/house.png' %}" alt="">
							</a>
						</div>
						{% endif %}
						<!-- logo -->

						
						<!-- menu start -->
						<!-- PONER QUE SI EL USUARIO ESTA AUTENTICADO LO VERÄ-->
					
						<nav class="main-menu">
							{% if user.is_authenticated %}
							<ul>
								<li class="current-list-item"><a href="{% url 'Inicio' %}">Home</a></li>
								<li><a href="{% url 'about' %}">About</a></li>
								<li><a href="{% url 'outdoor' %}">Aire libre</a>
							
								</li>
								<li><a href="{% url 'gym' %}">GYM</a>
									
								</li>
								<li><a class="mobile-hide search-bar-icon" href="{% url 'search event' %}"><i class="fas fa-search"></i> Buscar</a>
									<ul class="sub-menu">
										<li><a href="{% url 'search gym' %}">Buscar actividades del gym</a></li>
										<li><a href="{% url 'search event' %}">Buscar eventos de senderismo / trekking</a></li>
									</ul>
							
								</li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="{% url 'edit profile' %}"><p class="" style="color: white">{{ user.first_name }} │  {% if user.avatar_set.last.imagen.url %}<img src="{{user.avatar_set.last.imagen.url}}" width="40" height="40" alt=""> {% else %} ver perfil {% endif %}</p> </a>  
										<a href="{% url 'logout' %}" class="bordered-btn">Logout</a>
									</div>
								</li>
							</ul>
							{% endif %}
						</nav>
						<a class="mobile-show bordered-btn" href="#"></a> 
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<!-- end header -->
	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search area -->
	{% block tituloprincipal %}
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Buscador de aventuras</p>
                        
                            <h1>Busca actividades de la forma que quieras</h1>
                        
					

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->
{% endblock %}
{% block article %}
<div class="container">	
    <div class="row">
        <div class="col-lg-7 text-right">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        <div>
                    <form action="{% url 'event result' %}" method="GET" > {% csrf_token %}

                       <h3> Busca un evento por nombre:</h3> <input type="text" name="busqueda_evento_nombre" >
                                        <input type="submit" value="Buscar" >

                    </form>
        </div>
        <br>
        <br>
        <br>
        <div>
                    <form action="{% url 'event result' %}" method="GET" > {% csrf_token %}

                        <h3> Busca un evento por id:</h3> <input type="text" name="busqueda_evento_id" >
                                        <input type="submit" value="Buscar" >

                    </form>
        </div>
        <br>
        <br>
        <br>
        <div>
                    <form action="{% url 'event result' %}" method="GET" > {% csrf_token %}

                        <h3>Busca un evento por deporte:</h3> <input type="text" name="busqueda_evento_deport" >
                                        <input type="submit" value="Buscar" >

                    </form>
        </div>
         
        </div>
    </div>
</div>

	{% endblock %}
{% block resultados %}
{% endblock %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
	<!-- logo carousel -->
	<div class="logo-carousel-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-carousel-inner">
						<div class="single-logo-item">
							<img src="{% static 'gym/assets/img/company-logos/1.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'gym/assets/img/company-logos/2.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'gym/assets/img/company-logos/3.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'gym/assets/img/company-logos/4.png' %}" alt="">
						</div>
						<div class="single-logo-item">
							<img src="{% static 'gym/assets/img/company-logos/5.png' %}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end logo carousel -->

<!-- footer -->
<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-box about-widget">
					<h2 class="widget-title">About us</h2>
					<p>Unidad de negocio ficticia perteneciente a un gimnasio renombrado.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box get-in-touch">
					<h2 class="widget-title">Get in Touch</h2>
					<ul>
						<li>Córdoba, Argentina</li>
						<li>support@francisgym.com</li>
						<li>+54 111 222 3333</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box pages">
					<h2 class="widget-title">Pages</h2>
					<ul>
						<li><a href="{% url 'Inicio' %}">Home</a></li>
						<li><a href="{% url 'about' %}">About</a></li>
						<li><a href="{% url 'outdoor' %}">Aire Libre</a></li>
						<li><a href="{% url 'gym' %}">GYM</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box subscribe">
					<h2 class="widget-title">Subscribe</h2>
					<p>Subscribe to our mailing list to get the latest updates.</p>
					<form action="index.html">
						<input type="email" placeholder="Email">
						<button type="submit"><i class="fas fa-paper-plane"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
						Distributed By - <a href="https://themewagon.com/">Themewagon</a>
					</p>
				</div>
				<div class="col-lg-6 text-right col-md-12">
					<div class="social-icons">
						<ul>

							<li><a href="https://www.instagram.com/franromero0/" target="_blank"><i class="fab fa-instagram"></i></a></li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
<!-- jquery -->
<script src="{% static 'gym/assets/js/jquery-1.11.3.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'gym/assets/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- count down -->
<script src="{% static 'gym/assets/js/jquery.countdown.js' %}"></script>
<!-- isotope -->
<script src="{% static 'gym/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
<!-- waypoints -->
<script src="{% static 'gym/assets/js/waypoints.js' %}"></script>
<!-- owl carousel -->
<script src="{% static 'gym/assets/js/owl.carousel.min.js' %}"></script>
<!-- magnific popup -->
<script src="{% static 'gym/assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- mean menu -->
<script src="{% static 'gym/assets/js/jquery.meanmenu.min.js' %}"></script>
<!-- sticker js -->
<script src="{% static 'gym/assets/js/sticker.js' %}"></script>
<!-- main js -->
<script src="{% static 'gym/assets/js/main.js' %}"></script>




</body>

</html>