{% extends 'gym/Aservicios.html' %}
{% block title %}
	<title>About</title>
	{% endblock %}
{% block tituloprincipal %}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Sobre nosotros</p>
                    <h1>About us</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
{% endblock %}

{% block news %}
	<!-- featured section -->
	<div class="feature-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="featured-text">
						<h2 class="pb-3 ">¿De que <span class="orange-text">se trata?</span></h2>
						<div class="row">
							
								<div class="list-box d-flex">

									<div class="content ">
										<h3 class="orange-text text-center"><u>Franci's OutDoor es una unidad de negocios ficticia </u> dedicada a actividades al aire libre bajo la marca de nuestro renombrado gimnasio.   </h3>
                                        <p></p>
                                        <br>
                                        
										
									</div>
								</div>
                                <div class="list-box d-flex">
									<div class="content">
										<h3 class="text-center">Extendemos los límites de la experiencia fitness más allá de las cuatro paredes, adentrándonos en la naturaleza para ofrecerte un enfoque holístico del bienestar.
                                        </h3>
                                        <br>
										
									</div>
								</div>
                                <div class="list-box d-flex">
					
									<div class="content">
										<h3 class="text-center">En un mundo donde la vida urbana y las rutinas agitadas son la norma, entendemos la importancia de equilibrar cuerpo y mente.   </h3>
                                        
                                        <br>
                                        
										
									</div>
								</div>
                                <div class="list-box d-flex">
									<div class="content">
										<h3 class="orange-text text-center"> Nuestra unidad de actividades al aire libre te invita a escapar del bullicio diario y sumergirte en la serenidad de la naturaleza mientras te embarcas en emocionantes trekkings y senderismos diseñados para todos los niveles de aptitud. 
                                        </h3>
                                        <br>
										
									</div>
								</div>
                                <div class="list-box d-flex">
					
									<div class="content">
										<h3 class="text-center">Nuestro compromiso con tu bienestar no se limita a los muros del gimnasio; es una conexión directa con la esencia rejuvenecedora de la madre naturaleza.  </h3>
                                        
                                        <br>
                                        
										
									</div>
								</div>
                                <div class="list-box d-flex">
									<div class="content">
										<h3 class="text-center"> Desde caminatas matutinas revitalizantes hasta retiros de fin de semana que despiertan tus sentidos, te ofrecemos experiencias que fortalecen tu cuerpo, calman tu mente y rejuvenecen tu espíritu. 
                                        </h3>
                                        <br>
										
									</div>
								</div>
							
							
							
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>  
	<!-- end featured section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>Sobre mí</p>
                        <h1>About me</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- featured section -->
<div class="feature-bg-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="featured-text">
                    <h2 class="pb-3 "> Francisco <span class="orange-text">Romero</span></h2>
                    <div class="row">
                        
                            <div class="list-box d-flex">

                                <div class="content ">
                                    <br>
                                    <h3 class="orange-text text-center">¡Hola! <br> Mi nombre es Francisco Nahuel Romero, soy de Córdoba Argentina y este es mi proyecto final.   </h3>
                                    <p></p>
                                    <br>
                                    
                                    
                                </div>
                            </div>
                            <div class="list-box d-flex">
                                <div class="content">
                                    <h3 class="text-center"> Adentrandome de a poco en la programación opté por el curso de Python para empezar. Este me llevó a investigar e informarme un poco más de que se trataba este mundo.
                                    </h3>
                                    <br>
                                    
                                </div>
                            </div>
                            <div class="list-box d-flex">
                
                                <div class="content">
                                    <h3 class="text-center">Mi hobbie es la fotografía y he brindado el servicio algunas veces.  </h3>
                                    
                                    <br>
                                    
                                    
                                </div>
                            </div>
                            <div class="list-box d-flex">
                                <div class="content">
                                    <h3 class="orange-text text-center">  Por lo que las fotografías de paisajes, caminatas presentes en esta web fueron tomadas por mí en dos caminatas diferentes. #Dato
                                    </h3>
                                    <br>
                                    
                                </div>
                            </div>
                            <div class="list-box d-flex">
                
                                <div class="content">
                                    <h3 class="text-center">Espero que tanto la web como las fotografías de los hermosos paisajes de Córdoba sean de su agrado y las disfruten   </h3>
                                    
                                    <br>
                                    <br>
                                    <br>
                                    
                                    
                                </div>
                            </div>
                            <div class="list-box d-flex">
                                <div class="content">
                                    <h3 class="text-center"> Muchas gracias. <br>Atte: Francisco.
                                    </h3>
                                    <br>
                                    <br>
                                    <br>
                                    <br>
                                    
                                </div>
                            </div>
                        
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
	{% endblock %}