{% extends "gym/index.html" %}
{% block headerEdit %}
<div class="top-header-area" style="max-height: 10px;" id="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center" style="max-height: 10px;">
                <div class="main-menu-wrap">
{% endblock %}
{% block iniciosesion %}
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        
                            <form action="" method="POST">  {% csrf_token %}
                                
                            {% for field in form %}
                            <div class="search-bar-tablecell">
                                {{ field.errors }}
                                 <p style="color:white; font-size: 7px;"> {{field.help_text}} </p>
                                {{ field.widget }}
                                {{ field }}
                            </div>
                            {% endfor %} 
                            <div class="search-bar-tablecell">
                            <button type="submit"> Registrarse <i class="fas fa-paper-plane"></i></button>
                            
                            </div>   
                        
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	{% endblock %}
	{% block features %}
	{% endblock %}
    {% block product %}
    {% endblock %}
	{% block banner %}
	{% endblock %}
	{% block testimonial %}
	{% endblock %}
	{% block advertisement %}
	{% endblock %}
	{% block shop %}
	{% endblock %}
	{% block news %}
	{% endblock %}
	{% block logo %}
	{% endblock %}
    {% block down %}
    {% endblock %}